HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

DATABASE_URL=postgresql://strapi_user:w4XKEW6Ie2aCZfk2rwBO35ApqdDjLI6n@dpg-d6ersi15pdvs7381elh0-a/pharmacy_db_xenp
DATABASE_SSL=false